nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container.px-lg-5
    a.navbar-brand(href="index.html") Spatial Model Editor
    button.navbar-toggler(
      type="button",
      data-bs-toggle="collapse",
      data-bs-target="#navbarSupportedContent",
      aria-controls="navbarSupportedContent",
      aria-expanded="false",
      aria-label="Toggle navigation"
    )
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.ms-auto.mb-2.mb-lg-0
        each url, name in content.navbar.pages
          li.nav-item
            a.nav-link(
              href=url,
              class=content.navbar.current == url ? 'active' : null,
              aria-current=content.navbar.current == url ? 'page' : null
            ) #{ name }
