extends util/layout

block vars
  - var page_title = 'Screenshots - Spatial Model Editor';
  - var page_url = 'screenshots.html';

block content
  // list of screenshot image files to display
  - var screenshots = ['geometry0.png', 'geometry1.png', 'geometry2.png', 'species0.png', 'species1.png', 'species2.png', 'reactions.png', 'simulation.png'];

  // Header
  header.py-5
    .container.px-lg-5
      .p-4.p-lg-5.bg-light.rounded-3.text-center
        .m-4.m-lg-2
          h1.display-5.fw-bold GUI Screenshots

  // Page Content
  section.pt-4
    .container.px-lg-5
      #carouselScreenshots.carousel.carousel-dark.slide(
        data-bs-ride="carousel"
      )
        .carousel-indicators
          each screenshot, index in screenshots
            button(
              class=index == 0 ? 'active' : null,
              type="button",
              data-bs-target="#carouselScreenshots",
              data-bs-slide-to=index,
              aria-current="true",
              aria-label=screenshot
            )
        .carousel-inner.img
          each screenshot, index in screenshots
            .carousel-item(class=index == 0 ? 'active' : null)
              img.d-block.mx-auto.w-75(
                src='assets/' + screenshot,
                alt=screenshot
              )

        button.carousel-control-prev(
          type="button",
          data-bs-target="#carouselScreenshots",
          data-bs-slide="prev"
        )
          span.carousel-control-prev-icon(aria-hidden="true")
          span.visually-hidden Previous
        button.carousel-control-next(
          type="button",
          data-bs-target="#carouselScreenshots",
          data-bs-slide="next"
        )
          span.carousel-control-next-icon(aria-hidden="true")
          span.visually-hidden Next
