// base layout for all pages
// example of use in a pug file:
//
// extends layouts/base
//
// block content
//   p page content goes here
//

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(
      name="viewport",
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    )
    meta(
      name="description",
      content="Spatial Model Editor is a user friendly GUI editor to create and edit two-dimensional spatial SBML models of bio-chemical reactions and simulate them using the dune-copasi solver for reaction-diffusion systems."
    )
    meta(name="author", content="Liam Keegan")
    meta(
      name="google-site-verification",
      content="j9-pKiY0YNWFAS0d9qsHQr8aFUtvYHVxAYrZenKMcmI"
    )
    title Spatial Model Editor - #{ content.page_title }
    link(rel="icon", type="image/svg+xml", href="assets/sme.svg")
    link(href="css/styles.css", rel="stylesheet")

  body
    include ../includes/navbar

    block header
      header.py-5
        .container.px-lg-5
          .p-4.p-lg-1.rounded-3.text-center
            .m-4.m-lg-2
              h1.display-5.fw-bold #{ content.page_title }

    block content

    script(src="js/bundle.js")
